# 注意：当前文件是配置模版，使用时请将文件名称改为.env
# ZEP 配置 =============================================
ZEP_EMBEDDINGS_MESSAGES_MODEL=moka-ai/m3e-base
ZEP_EMBEDDINGS_DOCUMENTS_MODEL=moka-ai/m3e-base
# zep 中使用的openai_api_key 用于向量化，默认使用本地的
# 具体使用方式：https://docs.getzep.com/deployment/config/#enrichment-and-extraction
ZEP_OPENAI_API_KEY=xxx

# 时区
TIMEZONE=Asia/Shanghai

# 程序版本号，程序版本号可以查阅项目的release发布版本号，latest代表最新版本
CHATBOT_TAG=latest
CHATVRM_TAG=latest
GATEWAY_TAG=latest
