# 注意：当前文件是配置模版，使用时请将文件名称改为.env
# B站直播间ID
B_STATION_ID=27892212
# 主播UID 获取方法：https://sdl.moe/post/bili-live-wss/
B_UID=38ccccc
# 打开b站页面后登录，然后F12随便找一个B站接口，从请求头中获取cookie
B_COOKIE="buvid3=Fggggg28116infoc"

# 时区
TIMEZONE=Asia/Shanghai

# 程序版本号，程序版本号可以查阅项目的release发布版本号，latest代表最新版本
CHATBOT_TAG=latest
CHATVRM_TAG=latest
GATEWAY_TAG=latest